<div align="center" style="margin-top:10px; margin-bottom:25px;">

  <h1 style="
      font-family: 'Segoe UI', sans-serif;
      font-size:36px;
      letter-spacing:2px;
      margin-bottom:6px;
      color:#2c3e50;">
      ABSTRACT 4 ALL
  </h1>

  <p style="
      font-size:14px;
      letter-spacing:1px;
      color:gray;
      margin-top:0;">
      Student Performance Analytics • Data Cleaning • Visualization • Insights
  </p>

  <img 
    src="https://raw.githubusercontent.com/Kalungup/student-performance-analytics/main/Abstract4all.png"
    width="140"
    style="margin-top:15px;"
  />

</div>

# Student Performance Analytics: Data Cleaning, Exploration, and Visualization

In [5]:
import numpy as np
import matplotlib as mp
import pandas as pd

In [6]:
DATA_URL = "https://raw.githubusercontent.com/Kalungup/student-performance-analytics/main/student_marks_10000.csv"
pd.read_csv(DATA_URL)

,Student_ID,Name,Age,Gender,City,Maths,English,Science,History,ICT,Parental_Education,Attendance_%
0,1,Student_1,20,Other,Stockholm,30,-12,-15,5,29,bachelor,54.59
1,2,Student_2,17,Male,Malmo,-2,82,-7,-6,18,PhD,91.41
2,3,Student_3,18,Male,Stockholm,86,64,103,93,53,bachelor,68.00
3,4,Student_4,20,Other,Malmo,48,79,72,62,76,HighSchool,76.85
4,5,Student_5,16,Fmale,Göteborg,101,73,-9,51,100,HighSchool,93.40
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Student_9996,17,male,Malmo,52,100,102,110,22,High School,73.51
9996,9997,Student_9997,16,Male,Lund,66,22,25,NaN,2,Masters,54.31
9997,9998,Student_9998,19,Female,Stockholm,79,absent,84,74,114,High School,90.73
9998,9999,Student_9999,19,male,stockholm,67,74,110,24,-20,High School,70.91
9999,10000,Student_10000,18,Other,stockholm,18,60,0,41,67,Bachelor,49.27